# ---------------------------------------------------------------------------
# Hardhat configuration variables
#
# Hardhat 3 does NOT read this file. Provide these either as environment
# variables of the same name, or via the encrypted keystore:
#   npx hardhat keystore set SEPOLIA_RPC_URL
# ---------------------------------------------------------------------------
SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=
ETHERSCAN_API_KEY=
